doctype html
html
  head
    if dev
      title="Dev | BetaCon"
    else
      title="BetaCon"
    base(href=rootUrl)
    link(href="art/favicon.ico" type="image/x-icon" rel="icon")
    link(href="art/favicon.ico" type="image/x-icon" rel="shortcut icon")

    script(type="text/javascript"). 
        // Configuration to be used by the web site
        (function() {
            if(!window.hasOwnProperty("app")) window.app = {};
            window.app.settings = {
                rootUrl: "!{rootUrl}",
                version: "!{version}"
            };
        })();

    if dev
        script(src="node_modules/systemjs/dist/system.src.js" type="text/javascript")
        script(src="src/system.config.js", type="text/javascript")
        script(type="text/javascript"). 
            // Bootstrap the application with SystemJS
            (function() {
                System.import("app").catch(function(err) { console.log(err); } );
            })();
    else        
        script(src="app-".concat(version, ".js"), type="text/javascript")

  body
    div(id="root")
